body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar main";
}

nav {
    grid-area: navbar;
}

aside {
    height: calc(100vh - 64px);
    position: sticky;
    top: 64px;
    grid-area: sidebar;
    background-color: #e5e7eb;
    padding: 1em;
}

main {
    grid-area: main;
    padding: 1em;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
}

#chat-form {
    border-top: 1px solid #ddd;
}

#chat-box div {
    word-break: break-word;
    white-space: pre-wrap;
}

#message {
    min-height: 38px;
    max-height: 150px;
    overflow-y: auto;
}

#message::-webkit-scrollbar {
    display: none;
}